body {
    background-color:#153046;
    font-family: Arial, 'Times New Roman', Times, serif, sans-serif;
    }
    h1 {
    color: #C7DDEF;
    text-align: center;
    }
    h2 {
        color: #C7DDEF;
    }
    p {
        color: #C7DDEF;
        
    }
    /*.project img{
        width: 300px;
        height: 300px;
        margin: 10px;
        border: 2px solid r#C7DDEF; /* choose a color 
        display: block;
        margin: auto;
        } */
        a { /* change the appearance of ALL links */
            text-decoration: none;
            color: whitesmoke;
            }
            .project p { /* change the appearance of paragraph tags inside .project divs */
            text-align: center;
            margin: 15px;
            }

            .about{
                display:flex;
                flex-wrap:wrap;
                margin-right: 100px;
                margin-left: 100px;
                justify-content: center;
                }
                .about p {
                width:50%;
                text-align: center;
                margin: auto;
                line-height: 125%;
                }
                .about img {
                width: 50px;
                height: 100px;
                border-radius: 25%;
                border: 2px solid rgb(126, 14, 201);
                }